.bottomwaves
  position: absolute
  top: 726px
  left: 0
  width: 100%
  height: 15px
  background-image: url("../img/bottomwaves.png")
  background-repeat: repeat-x
  background-size: 44px
  margin-top: 0
  z-index: 20
  +r(1024)
    top: 372px

  +r(667)
    top: 276px

  +r(415)
    display: none
    top: 231px

  +r(375)
    top: 211px