.contacts
  width: 380px
  height: 500px
  margin: 0 auto
  padding: 75px 45px
  text-align: center
  background: url("../img/bigmarker.png") no-repeat center
  +r(768)
    background-size: 250px
    width: 100%
    height: 320px
    padding: 1px 0

  +r(667)
    background-size: 200px
    height: 260px

  &__list
    text-align: center
    margin-top: 60px
    +r(768)
      margin-top: 65px

    +r(415)
      margin-top: 80px

  &__el
    margin-bottom: 10px
    padding: 0

    +r(667)
      &:last-child
        display: none

  &__text
    display: block
    font-size: 24px
    color: #a9a9a9
    +r(768)
      font-size: 17px