.fancybox-close
  background-image: url("../img/close-btn.svg")
  +r(1024)
    background: url("../img/close-btn.svg") no-repeat

  +r(736)
    top: -12px
    right: -13px
    width: 25px
    height: 25px


.fancybox-prev span
  background: url("../img/right-btn.svg")center center no-repeat
  background-size: 100% 100%
  width: 50px
  height: 50px
  opacity: 1

.fancybox-next span
  background: url("../img/left-btn.svg")center center no-repeat
  background-size: 100% 100%
  width: 50px
  height: 50px
  opacity: 1