.header
  position: fixed
  top: 0
  left: 0
  padding-top: 10px
  width: 100%
  background-color: $bgBlue
  z-index: 25

  &__wrap
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center

.nav
  padding: 0 50px
  +r(1200)
    padding: 0

  &__list
    display: flex

  &__el
    margin: 0 30px
    +r(1200)
      margin: 0 15px
    +r(767)
      margin: 0

  &__link
    display: block
    padding: 10px 15px
    font-size: 27px
    transition: all 300ms ease-in
    border-radius: 50px
    white-space: nowrap
    +r(767)
      font-size: 22px
    &:hover
      color: #fff
      background-color: $textBlue

.topwaves
  position: fixed
  top: 140px
  left: 0
  width: 100%
  height: 15px
  background-image: url("../img/topwaves.png")
  background-repeat: repeat-x
  background-size: 44px
  margin-top: 0
  z-index: 25




