//variables
$textBlue: #4DAEB5
$bgBlue: #A4E2D5

+font("Relaway Bold", RalewayBold)

=h700
  font-family: "Relaway Bold", Helvetica, Arial, sans-serif

body
  font-size: 12px
  color: $textBlue
  overflow: hidden
  +h700

img
  max-width: 100%

