//variables
$textBlue: #4DAEB5
$bgBlue: #A4E2D5

+font("Karton", Karton)

=h100
  font-family: "Karton", Helvetica, Arial, sans-serif

body
  padding-top: 140px
  font-size: 12px
  color: $textBlue
  font-family: 'Karton'

a
  text-decoration: none
  cursor: pointer
  color: $textBlue

img
  max-width: 100%

.ico
  display: inline-block
  vertical-align: middle

  &_home
    width: 32px
    height: 32px
    background: url("../img/ico-home.png")

  &_phone
    width: 32px
    height: 32px
    background: url("../img/ico-phone.png")

  &_mail
    width: 32px
    height: 32px
    background: url("../img/ico-mail.png")

.container
  width: 1200px
  margin: 0 auto
  padding: 0 10px
  +r(1200)
    width: 960px

.logo
  width: 120px
  z-index: 5

  img
    width: 100%
    transition: all 2s
    &:hover
      transform: scale(1.1, 1.1)

.section
  padding: 30px 0
  background-color: $bgBlue
  font-size: 50px

.section-1, .section-3, .section-5
  background-color: #fff

.section
  h1
    text-align: center
    font-size: 40px
    font-weight: 600

.section-1
  font-size: 25px
  text-align: left
  h1
    padding: 20px 0
    background: url("../img/team.png") no-repeat 50% 100%
    background-size: 500px
    margin-bottom: 30px

  .text
    column-gap: 45px
    column-count: 3
    margin-bottom: 30px
    +r(1200)
      column-count: 2

.section-2
  h1
    padding: 20px 0
    background: url("../img/services-line.png") no-repeat 50% 100%
    background-size: 500px
    margin-bottom: 30px

.section-5
  h1
    padding: 20px 0
    color: $textBlue
    background: url("../img/oursocial.png") no-repeat 50% 100%
    background-size: 500px
    margin-bottom: 30px

.section-4
  h1
    padding: 20px 0
    color: $textBlue
    background: url("../img/prices-line.png") no-repeat 50% 100%
    background-size: 500px
    margin-bottom: 30px

.section-5
  h3
    color: #7d7d7d
    font-size: 30px

.section-3
  h1
    padding: 20px 0
    color: $textBlue
    background: url("../img/heart-line.png") no-repeat 50% 100%
    background-size: 500px
    margin-bottom: 30px

.section-2

  .services

    &__list
      display: flex
      flex-direction: row
      justify-content: space-around

    &__el
      width: 32%

  .item
    display: flex
    justify-content: space-between
    width: 100%
    cursor: default

    &:hover
      .item__img
        transform: rotate(360deg)

    &__left
      width: 30%
      margin: 40px 15px 0 0


    &__right
      width: 70%
      margin: 0 10px

    &__title
      color: #7d7d7d
      font-size: 30px

    &__descr
      font-size: 20px
      color: #a9a9a9

    &__img
      width: 100px
      height: 100px
      transition: transform .5s ease

.follow

  &__list
    display: flex
    flex-direction: row
    justify-content: space-around
    margin-bottom: 50px

  &__link
    display: block
    &:hover
      .follow__img
        transform: rotate(360deg)

  &__img
    display: block
    width: 140px
    height: 140px
    transition: transform .5s ease

.bottomwaves
  position: absolute
  top: 726px
  left: 0
  width: 100%
  height: 15px
  background-image: url("../img/bottomwaves.png")
  background-repeat: repeat-x
  background-size: 44px
  margin-top: 0
  z-index: 20
  +r(960)
    top: 526px
  
.contacts
  width: 380px
  height: 500px
  margin: 0 auto
  padding: 75px 45px
  text-align: center
  background: url("../img/bigmarker.png") no-repeat center

  &__list
    text-align: center
    margin-top: 10px

  &__el
    margin-bottom: 10px
    padding: 0

  &__text
    display: block
    font-size: 24px
    color: #a9a9a9

.section-4
  .items
    margin-top: 150px
    margin-bottom: 100px

    &__list
      display: flex
      justify-content: space-around

    &__el
      width: 22%

  .price
    text-align: center
    border-bottom: none

    &:hover
      .price__img
        transform: rotate(-360deg)

    &__top
      background: #fff
      width: 100%
      height: 100px
      border: 5px solid $textBlue
      border-radius: 30px 30px 0 0
      border-bottom: none

    &__img
      display: inline-block
      position: relative
      top: -64px
      width: 60%
      -webkit-filter: grayscale(30%)
      transition: all .5s ease

    &__center
      background: url("../img/bgribbon.jpg") repeat
      width: 100%
      height: 50px
      color: #fff

    &__bottom
      padding-top: 15px
      background: #fff
      width: 100%
      height: 200px
      border: 5px solid $textBlue
      border-radius: 0 0 30px 30px
      border-top: none

    h3
      font-size: 25px

  .item

    &__el
      font-size: 18px
    letter-spacing: 1.1px

.section-3

  .items

    &__list
      display: flex
      justify-content: space-between
      flex-wrap: wrap

    &__el
      width: 22%
      margin-bottom: 35px


  .item
    display: flex
    flex-direction: column
    text-align: center
    font-size: 15px

    &__top
      width: 100%
      height: 250px
      margin-bottom: 10px
      border-radius: 10%
      -webkit-filter: brightness(70%)
      opacity: .8
      transition: all .2s ease
      cursor: pointer
      &:hover
        opacity: 1
        -webkit-filter: brightness(100%)
        transform: scale(1.3)
        z-index: 5

    &__bottom
      h3
        font-size: 20px

      span
        letter-spacing: 1.1px

    &_1
      .item__top
        background: url("../img/cake1.jpg") no-repeat center left
        background-size: cover

    &_2
      .item__top
        background: url("../img/cake2.jpg") no-repeat center left
        background-size: cover

    &_3
      .item__top
        background: url("../img/cake3.jpg") no-repeat center left
        background-size: cover

    &_4
      .item__top
        background: url("../img/cake4.jpg") no-repeat center left
        background-size: cover

    &_5
      .item__top
        background: url("../img/cake5.jpg") no-repeat center left
        background-size: cover

    &_6
      .item__top
        background: url("../img/cake6.jpg") no-repeat center left
        background-size: cover

    &_7
      .item__top
        background: url("../img/cake7.jpg") no-repeat center left
        background-size: cover

    &_8
      .item__top
        background: url("../img/cake8.jpg") no-repeat center left
        background-size: cover

    &_9
      .item__top
        background: url("../img/cake9.jpg") no-repeat center left
        background-size: cover

    &_10
      .item__top
        background: url("../img/cake10.jpg") no-repeat center left
        background-size: cover

    &_11
      .item__top
        background: url("../img/cake11.jpg") no-repeat center left
        background-size: cover

    &_12
      .item__top
        background: url("../img/cake12.jpg") no-repeat center left
        background-size: cover

    &_13
      .item__top
        background: url("../img/cake13.jpg") no-repeat center left
        background-size: cover

    &_14
      .item__top
        background: url("../img/cake14.jpg") no-repeat center left
        background-size: cover

    &_15
      .item__top
        background: url("../img/cake15.jpg") no-repeat center left
        background-size: cover

    &_16
      .item__top
        background: url("../img/cake16.jpg") no-repeat center left
        background-size: cover








