//variables
$textBlue: #4DAEB5
$bgBlue: #A4E2D5

+font("Karton", Karton)

=h100
  font-family: "Karton", Helvetica, Arial, sans-serif

body
  padding-top: 140px
  font-size: 12px
  color: $textBlue
  font-family: 'Karton'
  letter-spacing: 1.1px
  +r(1024)
    padding-top: 55px

  +r(680)
    padding-top: 55px

a
  text-decoration: none
  cursor: pointer
  color: $textBlue

img
  max-width: 100%

.container
  width: 1160px
  margin: 0 auto
  +r(1200)
    width: 960px
    padding: 0 20px
  +r(980)
    width: 100%
    padding: 0 30px

.logo
  width: 120px
  z-index: 5
  +r(1024)
    display: none

  img
    width: 100%
    transition: all 2s
    &:hover
      transform: scale(1.1, 1.1)

.section
  width: 100%
  background-color: $bgBlue

.section-1, .section-3, .section-5
  background-color: #fff

.section

  &__title
    padding: 20px 0
    margin-bottom: 30px
    text-align: center
    font-size: 40px
    font-weight: 600
    +r(768)
      font-size: 30px

.section-1
  font-size: 25px
  text-align: left
  +r(1024)
    font-size: 20px
  +r(767)
    font-size: 16px

  h1
    background: url("../img/team.png") no-repeat 50% 100%
    background-size: 500px

  .text
    column-gap: 45px
    column-count: 3
    margin-bottom: 30px
    font-size: 18px
    letter-spacing: 2px

    +r(1200)
      column-count: 2
    +r(768)
      column-count: 1
      text-align: center
      line-height: 2
    +r(414)
      text-align: justify
      line-height: 1.6


.section-2
  h1
    background: url("../img/services-line.png") no-repeat 50% 100%
    background-size: 500px

.section-5
  h1
    color: $textBlue
    background: url("../img/oursocial.png") no-repeat 50% 100%
    background-size: 500px

.section-4
  h1
    color: $textBlue
    background: url("../img/prices-line.png") no-repeat 50% 100%
    background-size: 500px

.section-6
  padding-bottom: 30px

  h1
    color: $textBlue
    background: url("../img/lollipop.png") no-repeat 50% 100%
    background-size: 500px

.section-3
  h1
    color: $textBlue
    background: url("../img/heart-line.png") no-repeat 50% 100%
    background-size: 500px

.follow

  &__list
    display: flex
    flex-direction: row
    justify-content: space-around
    margin-bottom: 50px
    flex-wrap: wrap

  &__link
    display: block
    &:hover
      .follow__img
        transform: rotate(360deg)

  &__img
    display: block
    width: 140px
    height: 140px
    transition: transform .5s ease
    +r(1024)
      width: 100px
      height: 100px
    +r(767)
      width: 70px
      height: 70px

.contacts
  width: 380px
  height: 500px
  margin: 0 auto
  padding: 75px 45px
  text-align: center
  background: url("../img/bigmarker.png") no-repeat center
  +r(768)
    background-size: 250px
    width: 100%
    height: 320px
    padding: 1px 0

  &__list
    text-align: center
    margin-top: 10px
    +r(768)
      margin-top: 65px

  &__el
    margin-bottom: 10px
    padding: 0

  &__text
    display: block
    font-size: 24px
    color: #a9a9a9
    +r(768)
      font-size: 17px








