.main-bg
  height: 650px
  background-image: url("../img/main-cake3.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: 0 -190px
  +r(1024)
    background-position: 0 0
  +r(768)
    display: none