.nav-mob

  &__list
    display: flex
    align-items: center
    flex-direction: column
    margin-top: 30px

  &__el
    margin: 15px 0

    +r(415)
      margin: 10px 0

  &__link
    display: block
    font-size: 30px
