.section-prices

  .items
    background: #fff
    border-radius: 20px
    margin-top: 50px
    +r(1024)
      margin-bottom: 0

    +r(415)
      margin-top: 30px

    &__list
      padding: 40px 0
      display: flex
      justify-content: center
      flex-wrap: wrap
      +r(1200)
        flex-wrap: wrap

    &__el
      width: 100%
      margin-bottom: 40px

      &:last-child
        margin-bottom: 0

      &.is-active
        .drop-down
          display: block

        .price__title
          &:before
            transform: rotate(90deg)

      +r(768)
        margin: 20px 0

      +r(415)
        margin: 20px 0

      +r(320)
        margin: 13px 0

  .price
    text-align: center
    border-bottom: none

    &:hover
      .price__img
        transform: rotate(-360deg)

    &__title
      display: inline-flex
      font-size: 25px
      position: relative
      cursor: pointer

      &:before
        position: absolute
        top: 8px
        left: -20px
        content: ''
        width: 0
        height: 0
        border-style: solid
        border-width: 6px 0 6px 10px
        border-color: transparent transparent transparent $textBlue
        +r(375)
          padding: 0 20px
          left: 10px

      +r(375)
        padding: 0 20px

    p
      font-size: 20px

  .product
    margin: 15px 0
    text-align: left

    +r(415)
      margin: 0

    &__title
      font-size: 25px

    &__subscribe
      color: #2d8c90
      text-align: left
      font-size: 19px
      padding-bottom: 20px
      +h200

      +r(768)
        padding-bottom: 7px

      +r(415)
        font-size: 16px

.drop-down
  padding: 15px 40px
  display: none





