.section-who

  .who-we-are
    display: flex

    &__left
      width: 50%
      margin-right: 10px

    &__right
      width: 50%
      margin-left: 10px

    &__descr
      padding-top: 15px
      color: #2d8c90
      font-size: 20px
      letter-spacing: .3px
      line-height: 1.7
      +h200
      +r(768)
        text-align: center
        font-size: 18px
        line-height: 1.2
      +r(415)
        text-align: justify