.section-4
  padding-bottom: 10px

  .items
    margin-top: 50px
    margin-bottom: 100px
    +r(1024)
      margin-bottom: 0

    +r(415)
      margin-top: 30px

    &__list
      display: flex
      justify-content: center
      flex-wrap: wrap
      +r(1200)
        flex-wrap: wrap

    &__el
      width: 100%
      margin: 40px 20px
      +r(768)
        margin: 30px 0

      +r(415)
        margin: 20px 0

      +r(320)
        margin: 13px 0

  .price
    text-align: center
    border-bottom: none

    &:hover
      .price__img
        transform: rotate(-360deg)

    &__top
      background: #fff
      width: 100%
      height: 100px
      border-radius: 30px 30px 0 0
      border-bottom: none
      +r(768)
        height: 70px

      +r(415)
        height: 40px

    &__img
      display: inline-block
      position: relative
      top: -64px
      width: 13%
      -webkit-filter: grayscale(30%)
      transition: all .5s ease
      +r(1200)
        width: 15%

      +r(768)
        top: -51px

      +r(415)
        top: -30px

      +r(320)
        top: -20px

    &__center
      background: url("../img/bgribbon.jpg") repeat
      width: 100%
      padding: 10px 0
      color: #fff
      +r(415)
        padding: 10px
      p
        font-size: 20px

    &__bottom
      padding: 15px 40px
      background: #fff
      width: 100%
      height: 100%
      border-radius: 0 0 30px 30px
      border-top: none

      +r(415)
        padding: 15px 25px

    h3
      font-size: 25px

  .item

    &__el
      font-size: 18px
      letter-spacing: 1.1px

  .product
    margin: 15px 0
    text-align: left

    +r(415)
      margin: 0

    &__title
      font-size: 25px

    &__subscribe
      color: #2d8c90
      text-align: left
      font-size: 19px
      padding-bottom: 20px
      +h200

      +r(768)
        padding-bottom: 7px

      +r(415)
        font-size: 16px





