.slider
  position: relative
  width: 100%
  height: 100vh

  +r(767)
    display: none

  &__img
    position: absolute
    width: 100%
    height: 100%
    opacity: 0
    background-size: cover
    transition: all 1s ease-in-out
    background-position: center

    &.is-first
      background: url(../img/slide-5.jpg)
      background-size: cover

    &.is-second
      background: url(../img/slide-1.jpg)
      background-size: cover

    &.is-third
      background: url(../img/slide-3.jpg)
      background-size: cover

    &.is-fourth
      background: url(../img/slide-4.jpg)
      background-size: cover

    &.is-main
      opacity: 1
      background: url(../img/slide-2.jpg)
      background-repeat: no-repeat
      background-size: cover


    &.is-visible
      opacity: 1

  &__pagination
    position: absolute
    width: 25%
    height: 100vh
    z-index: 5

    &.is-one
      left: 0

    &.is-two
      left: 25%

    &.is-three
      left: 50%

    &.is-four
      left: 75%

  &__text
    text-align: center
    position: absolute
    bottom: 0
    color: #fff
    font-size: 100px

    &.is-first
      left: 0

    &.is-second
      left: 25%

    &.is-third
      left: 50%

    &.is-fourth
      left: 75%
