<header class="header">

  <div class="container">

    <div class="header__wrap">

      <div class="header__left">

        <nav class="nav">

          <ul class="nav__list">

            <li class="nav__el">
              <a href="#who" class="nav__link">Кто мы</a>
            </li>

            <li class="nav__el">
              <a href="#services"  class="nav__link">Услуги</a>
            </li>

            <li class="nav__el">
              <a href="#sweets"  class="nav__link">Галерея</a>
            </li>

          </ul>

        </nav><!-- end nav -->

        <div class="hamburger">
          <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

      </div><!-- end header__left -->

      <div class="header__center">

        <div class="logo">
          <a href="#" class="logo__link">
            <img src="img/logo-honey-cake.png" alt="logo"/>
          </a>
        </div>

      </div>

      <div class="header__right">

        <nav class="nav">

          <ul class="nav__list">

            <li class="nav__el">
              <a href="#price"  class="nav__link">Цены</a>
            </li>

            <li class="nav__el">
              <a href="#follow"  class="nav__link">Следить</a>
            </li>

            <li class="nav__el">
              <a href="#contacts"  class="nav__link">Контакты</a>
            </li>

          </ul>

        </nav><!-- end nav -->

      </div><!-- end right -->

    </div><!--end header__wrap -->

  </div><!-- end container -->

</header><!-- end header -->

<div class="topwaves"></div>

<div class="mobile-mnu">

  <nav class="nav-mob" id="nav-mob">
    <ul class="nav-mob__list">
      <li class="nav-mob__el">
        <a href="#who" class="nav-mob__link">Кто мы</a>
      </li>

      <li class="nav-mob__el">
        <a href="#services" class="nav-mob__link">Услуги</a>
      </li>

      <li class="nav-mob__el">
        <a href="#sweets" class="nav-mob__link">Галерея</a>
      </li>
      <li class="nav-mob__el">
        <a href="#price" class="nav-mob__link">Цены</a>
      </li>

      <li class="nav-mob__el">
        <a href="#follow" class="nav-mob__link">Следить</a>
      </li>

      <li class="nav-mob__el">
        <a href="#contacts" class="nav-mob__link">Контакты</a>
      </li>
    </ul>
  </nav>

</div>

