<div class="mobile-mnu">

  <nav class="nav-mob" id="nav-mob">
    <ul class="nav-mob__list">
      <li class="nav-mob__el">
        <a href="#sweets" class="nav-mob__link">Галерея</a>
      </li>

      <li class="nav-mob__el">
        <a href="#price" class="nav-mob__link">Цены</a>
      </li>

      <li class="nav-mob__el">
        <a href="#services" class="nav-mob__link">Важно знать</a>
      </li>

      <li class="nav-mob__el">
        <a href="#box" class="nav-mob__link">Упаковка</a>
      </li>

      <li class="nav-mob__el">
        <a href="#who" class="nav-mob__link">Кто мы</a>
      </li>

      <li class="nav-mob__el">
        <a href="#contacts" class="nav-mob__link">Контакты</a>
      </li>
    </ul>
  </nav>

</div><!-- end mobile-mnu -->