<section class="section section-prices" id="price">

  <div class="container">

    <div class="section__top">
      <h1 class="section__title">Меню и цены</h1>
    </div>

    <div class="section__bottom">

    <div class="menu">

      <ul class="menu__list">

        <li class="menu__el">

          <div class="price">
            <h3 class="price__title">
              Муссовые торты от 400грн/кг
            </h3>

            <div class="action"></div>

            <div class="drop-down">
              <p>
                Срок хранения 70 часов при t+5, покрываются зеркальной глазурью
                или велюром
              </p>

              <div class="product">
                <h3 class="product__title">
                  Бэрри-тонка
                </h3>
                <p class="product__subscribe">
                  ягодное компоте, сливочное кремё с черникой, вишневый мусс
                  с бобами тонка, бисквит на оливковом масле с медом - 400 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Малина-фисташка
                </h3>
                <p class="product__subscribe">
                   малиновое кули с чайной розой, ванильный баварский мусс с
                  белым шоколадом, фисташковый бисквит - 400 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Карамельный бум
                </h3>
                <p class="product__subscribe">
                  вишневое конфи, крем-брюле с вишней, карамельный мусс,
                  бисквит Мадлен с кунжутом - 400 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Малина-мята-ряженка
                </h3>
                <p class="product__subscribe">
                  желе малина с мятой, сливочный мусс на ряженке, хрустящий слой,
                  фундучный бисквит - 400 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Мэри
                </h3>
                <p class="product__subscribe">
                  сочный брауни на темном шоколаде, кофейное кремё, запечнные
                  бананы, шоколадный мусс - 400 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Груша-шампань
                </h3>
                <p class="product__subscribe">
                  кокосово-лаймовый дакуаз, хрустящий слой, компоте груша, ванильный бисквит,
                  мусс на розовом игристом вине "Martini Asti" - 400 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Облепиха-шампань
                </h3>
                <p class="product__subscribe">
                  конфи облепиха, облепиховый бисквит, мусс на розовом
                  игристом вине, "Martini Asti" - 400 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Клубника со сливками
                </h3>
                <p class="product__subscribe">
                  клубничное конфи, клубничный
                  гимов, миндальный штройзель, ванильный бисквит, сливочный мусс
                  - 400 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Страчателла
                </h3>
                <p class="product__subscribe">
                  крем-брюле с печеньем орео, шоколадный бисквит,
                  ванильно-йогуртовый мусс с шоколадной крошкой - 400 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Карамельный латте
                </h3>
                <p class="product__subscribe">
                  кофейный мусс, кофейное кремё, шоколадный бисквит,
                  карамельная глазурь с орешками - 400 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Марго
                </h3>
                <p class="product__subscribe">
                  влажный шоколадный бисквит, миндальное пралине,
                  ганаш на молочном шоколаде, вишневое конфи с кусочками ягод,
                  сливочный крем, шоколадный мусс - 400 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Черника-маскарпоне
                </h3>
                <p class="product__subscribe">
                  мятный мусс, черничное конфи,
                  мусс на маскарпоне, ванильный бисквит - 400 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Смородина-шоколад
                </h3>
                <p class="product__subscribe">
                  шоколадный мусс, прослойка черная смородина,
                  брауни - 400 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Лаванда-персик
                </h3>
                <p class="product__subscribe">
                  лавандовый мусс, конфи персик, ванильный бисквит - 400 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Черника-Эрл Грей
                </h3>
                <p class="product__subscribe">
                  мусс Эрл Грей (бергамот), черничное конфи,
                  черничный бисквит - 400 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Шоколад-кофе-вишня
                </h3>
                <p class="product__subscribe">
                  шоколадный мусс, кофейное кремё,
                  вишневое конфи, брауни - 400 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Малина-яблоко
                </h3>
                <p class="product__subscribe">
                  яблочный мусс, малиновое конфи, хрустящий слой пралине,
                  брауни - 400 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Морковный
                </h3>
                <p class="product__subscribe">
                  пряный морковный бисквит с орешками и клюквой, хрустящий
                  слой, апельсиновое кремю, цитрусовый мусс с корицей - 400 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Тирамису
                </h3>
                <p class="product__subscribe">
                  воздушный мусс на маскарпоне с кофе и бейлиз, кофейная
                  панна котта, миндальный дакуаз, ванильный бисквит,
                  пропитаный кофе и ликером - 400 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Индивидуальный торт
                </h3>
                <p class="product__subscribe">
                  составление вкуса по вашим предпочтениям - 450 грн/кг
                </p>
              </div>
            </div>

          </div><!-- end price -->

        </li>

        <li class="menu__el">

          <div class="price">
            <h3 class="price__title">
              Бисквитные торты от 300грн/кг
            </h3>

            <div class="action"></div>

            <div class="drop-down">
              <p>
                Срок хранения 72 часа при t +5
              </p>

              <div class="product">
                <h3 class="product__title">
                  Сникерс
                </h3>
                <p class="product__subscribe">
                  шоколадные бисквиты, карамельный крем с арахисом, крем на
                  основе сыра филадельфия - 350 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Пломбир
                </h3>
                <p class="product__subscribe">
                  ванильный/шоколадный бисквит, крем пломбир, наполнение
                  (фрукты, ягоды, орехи, карамель) - «голый» 300 грн/кг;
                  декорированный - 350 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Красный бархат
                </h3>
                <p class="product__subscribe">
                  бархатный бисквит, кремчиз, наполнение на выбор - 350 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Чизкейк
                </h3>
                <p class="product__subscribe">
                  песочная основа, нежный мусс на сливочном сыре, украшение
                  на выбор (фрукты, ягоды, шоколад, карамель) - 350 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Морковный
                </h3>
                <p class="product__subscribe">
                  пряные морковные бисквиты с орехами и клюквой, сливочный
                  крем с кусочками клюквы - 350 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Страчателла
                </h3>
                <p class="product__subscribe">
                  ванильный бисквит, крем на основе сыра маскарпоне с шоколадной
                  крошкой- 350 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Классика
                </h3>
                <p class="product__subscribe">
                  Захер, наполеон, молочная девочка, шварцвальд, пражский,
                  медовик, киевский, сметанный и тп - 350 грн/кг
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Индивидуальный торт
                </h3>
                <p class="product__subscribe">
                  составление вкуса по вашим предпочтениям - 350 грн/кг
                </p>
              </div>

            </div><!-- end drop-down -->

          </div><!-- end price -->

        </li>

        <li class="menu__el">

          <div class="price">
            <h3 class="price__title">
              Диетические десерты от 550грн/кг
            </h3>

            <div class="action"></div>

            <div class="drop-down">
              <p>
                Срок хранения 72 часа при t +5
              </p>

              <div class="product">
                <h3 class="product__title">
                  RAW торты - в составе отсутствуют: сахар, мука, красители,
                  продукты животного происхождения
                </h3>
                <p class="product__subscribe">
                  кешью-кейк: орехи, сухофрукты, кокосовое масло холодного отжима,
                  масло какао, фрукты, ягоды - 550 грн/кг
                </p>
              </div>

            </div><!-- end drop-down -->

          </div><!-- end price -->

        </li>

        <li class="menu__el">

          <div class="price">
            <h3 class="price__title">
              Порционные десерты от 40грн
            </h3>

            <div class="action"></div>

            <div class="drop-down">

              <p>
                (в зависимости от размера и начинки), от 6 шт
              </p>

              <div class="product">
                <h3 class="product__title">
                  Капкейки
                </h3>
                <p class="product__subscribe">
                  шоколадные, ванильные, цитрусовые, тирамису, морковные,
                  блонди с кокосом и малиной - 40 грн/шт
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Муссовые пирожные
                </h3>
                <p class="product__subscribe">
                  в зависимости от размера и начинки - 40-55 грн/шт
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Павлова
                </h3>
                <p class="product__subscribe">
                  нежное безе с наполнением из крема и фруктов - 45 грн/шт
                </p>
              </div>

              <div class="product">
                <h3 class="product__title">
                  Маршмеллоу
                </h3>
                <p class="product__subscribe">
                  шоколадный, кокосовый, ягодный, лавандовый, клубничный
                  джем - 100 грн/300 грамм
                </p>
              </div>

              <!--<div class="product">-->
                <!--<h3 class="product__title">-->
                  <!--Трюфель-->
                <!--</h3>-->
                <!--<p class="product__subscribe">-->
                  <!--шоколадные конфеты ручной работы - 70 грн/6 шт-->
                <!--</p>-->
              <!--</div>-->

            </div><!-- end drop-down -->

          </div><!-- end price -->

        </li>

      </ul>

      </div><!-- end menu -->

    </div><!-- end section__bottom -->

  </div><!-- end container -->

</section><!-- end section-prices -->