<div class="section section-4" id="price">

  <div class="container">

    <div class="section__top">
      <h1>Наши цены</h1>
    </div>

    <div class="section__bottom">

      <div class="items">

        <ul class="items__list">

          <li class="items__el">

            <div class="price">
              <div class="price__top"></div>
              <div class="price__center">
                <h3>от 250грн/кг</h3>
              </div>
              <div class="price__bottom">
                <p>Минимальный заказ от 1,5кг</p>
                <p>бла бла бла</p>
                <p>С мастикой не работаем</p>
              </div>
            </div><!-- end price -->

          </li>

        </ul>

      </div><!-- end items -->

    </div><!-- end section__bottom -->

  </div><!-- end container -->

</div><!-- end section-4 -->