<div class="section section-4" id="price">

  <div class="container">

    <div class="section__top">
      <h1 class="section__title">Меню и цены</h1>
    </div>

    <div class="section__bottom">

      <div class="items">

        <ul class="items__list">

          <li class="items__el">

            <div class="price">

              <div class="price__top">
                <img class="price__img" src="img/cake-ico-1.png" alt="cake"/>
              </div>

              <div class="price__center">
                <h3>
                  Т О Р Т Ы муссовые от 380грн/кг
                </h3>
                <p>
                  Срок хранения 48 часов при t+5, покрываются зеркальной или
                  бархатной глазурью
                </p>
              </div>

              <div class="price__bottom">

                <div class="product">
                  <h3 class="product__title">
                    Груша-шампань
                  </h3>
                  <p class="product__subscribe">
                    кокосово-лаймовый дакуаз, хрустящий слой, компоте
                    груша-инжир, мусс на розовом
                    игристом вине "Martini Asti" - 380 грн/кг
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Облепиха-шампань
                  </h3>
                  <p class="product__subscribe">
                    конфи облепиха, мусс на розовом игристом
                    вине "Martini Asti, ванильный бисквит - 380 грн/кг
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Облепиха-пломбир
                  </h3>
                  <p class="product__subscribe">
                    мусс ванильный пломбир, конфи облепиха,
                    ванильный бисквит - 380 грн/кг
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Клубника-лайм
                  </h3>
                  <p class="product__subscribe">
                    лаймовый мусс, клубничное конфи, клубничный
                    крем-мусс, ванильный бисквит - 380 грн/кг
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Карамельный латте
                  </h3>
                  <p class="product__subscribe">
                    кофейный мусс, кофейное креме, кофейный
                    крем, шоколадный бисквит, карамельная глазурь с орешками
                    - 380 грн/кг
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Черника-маскарпоне
                  </h3>
                  <p class="product__subscribe">
                    (400 грн/кг) мятный мусс, черничное конфи,
                    мусс на маскарпоне, ванильный бисквит
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Смородина-кофе
                  </h3>
                  <p class="product__subscribe">
                    кофейный мусс, прослойка черная смородина,
                    шоколадный бисквит - 380 грн/кг
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Смородина-ваниль
                  </h3>
                  <p class="product__subscribe">
                    ванильный мусс, прослойка черная смородина,
                    ванильный бисквит, песочная основа - 380 грн/кг
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Абрикос-ром
                  </h3>
                  <p class="product__subscribe">
                    мусс с ромом, абрикосовая прослойка, ванильный
                    бисквит - 380 грн/кг
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Лаванда-персик
                  </h3>
                  <p class="product__subscribe">
                    лавандовый мусс, конфи персик, ванильный бисквит - 380 грн/кг
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Черника-Эрл Грей
                  </h3>
                  <p class="product__subscribe">
                    мусс Эрл Грей (бергамот), черничное конфи,
                    черничный бисквит - 380 грн/кг
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Шоколад-кофе-вишня
                  </h3>
                  <p class="product__subscribe">
                    шоколадный мусс, кофейное креме,
                    вишневое конфи, брауни - 380 грн/кг
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Малина-яблоко
                  </h3>
                  <p class="product__subscribe">
                    яблочный мусс,
                    малиновое конфи, хрустящий слой пралине, брауни - 380 грн/кг
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Манго-кокос
                  </h3>
                  <p class="product__subscribe">
                    сливочный мусс, манговая прослойка, кокосовый
                    бисквит - 400 грн/кг
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Три шоколада
                  </h3>
                  <p class="product__subscribe">
                    брауни на темном шоколаде, муссы на черном, молочном и
                    белом шоколаде - 400 грн/кг
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Матча-кокос
                  </h3>
                  <p class="product__subscribe">
                    бисквит с японским зеленым чаем Матча, кокосовый мусс,
                    мусс Матча - 400 грн/кг
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Матча-вишня
                  </h3>
                  <p class="product__subscribe">
                    бисквит с японским чаем матча, вишневый мусс - 400 грн/кг
                  </p>
                </div>

              </div><!-- end price__bottom -->

            </div><!-- end price -->

          </li>

          <li class="items__el">

            <div class="price">

              <div class="price__top">
                <img class="price__img" src="img/cake-ico-1.png" alt="cake"/>
              </div>

              <div class="price__center">
                <h3>
                  Т О Р Т Ы бисквитные от 250грн/кг
                </h3>
                <p>
                  Срок хранения 72 часа при t +5
                </p>
              </div>

              <div class="price__bottom">

                <div class="product">
                  <h3 class="product__title">
                    Пломбир
                  </h3>
                  <p class="product__subscribe">
                     ванильный/шоколадный бисквит, крем пломбир, наполнение
                    (фрукты,ягоды,орехи,карамель) - «голый» 250 грн/кг;
                    декорированный 300 грн/кг
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Карамельный
                  </h3>
                  <p class="product__subscribe">
                    ванильный/шоколадный бисквит, карамельный крем, наполнение
                    на выбор - 280 грн/кг
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Кофейный
                  </h3>
                  <p class="product__subscribe">
                    шоколадный бисквит, кофейный крем, наполнение на
                    выбор - 280 грн/кг
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Красный бархат
                  </h3>
                  <p class="product__subscribe">
                    бархатный бисквит, кремчиз, наполнение на выбор - 300 грн/кг
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Шоколадный
                  </h3>
                  <p class="product__subscribe">
                    шоколадные бисквиты, шоколадно-сливочный крем,
                    наполнение на выбор - 300 грн/кг
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Чизкейк
                  </h3>
                  <p class="product__subscribe">
                    песочная основа, нежный мусс на сливочном сыре, украшение
                    на выбор (фрукты, ягоды, шоколад, карамель) - 300 грн/кг
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Морковный
                  </h3>
                  <p class="product__subscribe">
                    пряные морковные бисквиты с орехами и клюквой, сливочный крем с
                    кусочками клюквы - 300 грн/кг
                  </p>
                </div>
              </div><!-- end price__bottom -->
            </div><!-- end price -->
          </li>

          <li class="items__el">

            <div class="price">

              <div class="price__top">
                <img class="price__img" src="img/cake-ico-1.png" alt="cake"/>
              </div>

              <div class="price__center">
                <h3>
                  Д Е С Е Р Т Ы порционные от 30грн/шт
                </h3>
              </div>

              <div class="price__bottom">

                <div class="product">
                  <h3 class="product__title">
                    Муссовые пирожные
                  </h3>
                  <p class="product__subscribe">
                    35-50 грн/шт (зависимости от размера и начинки), от 6 шт
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Павлова
                  </h3>
                  <p class="product__subscribe">
                    нежное безе с наполнением из крема и фруктов - 40 грн/шт
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Трайфл
                  </h3>
                  <p class="product__subscribe">
                    десерт в стакане, состоящий из бисквита, крема и наполнения - 35 грн/шт
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Капкейки
                  </h3>
                  <p class="product__subscribe">
                    30 грн/шт
                  </p>
                </div>

                <div class="product">
                  <h3 class="product__title">
                    Карамель
                  </h3>
                  <p class="product__subscribe">
                    классическая или соленная домашняя карамель - 30 грн/100 г,
                    50 грн/200 г, 70 грн/300 г
                  </p>
                </div>
              </div><!-- end price__bottom -->
            </div><!-- end price -->
          </li><!-- end price__el -->
        </ul>

      </div><!-- end items -->

    </div><!-- end section__bottom -->

  </div><!-- end container -->

</div><!-- end section-4 -->