<section class="section section-3" id="sweets">

  <div class="container">

    <div class="section__top">
      <h1>Сладости</h1>
    </div>

    <div class="section__bottom">

      <div class="items">

        <ul class="items__list">
          <li class="items__el">
            <div class="item item_1">

              <div class="item__top"></div>
              <div class="item__bottom">
                <h3>Карамельный чизкейк</h3>
                <span>
                  Чизкейк из нежного сливочного сыра, ароматной основы,
                  покрыт натуральной домашней карамелью
                </span>
              </div>

            </div>
          </li>

          <li class="items__el">
            <div class="item item_2">

              <div class="item__top"></div>
              <div class="item__bottom">
                <h3>Наполеон</h3>
                <span>
                  Невероятно пропитаные ванильным кремом Патисьер домашние
                  слоенные коржи
                </span>
              </div>

            </div>
          </li>

          <li class="items__el">
            <div class="item item_3">

              <div class="item__top"></div>
              <div class="item__bottom">
                <h3>Lorem ipsum dolor.</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, fugiat?</span>
              </div>

            </div>
          </li>

          <li class="items__el">
            <div class="item item_4">

              <div class="item__top"></div>
              <div class="item__bottom">
                <h3>Ванильный чизкейк</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, fugiat?</span>
              </div>

            </div>
          </li>

          <li class="items__el">
            <div class="item item_5">

              <div class="item__top"></div>
              <div class="item__bottom">
                <h3>Десерт Павлова</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, fugiat?</span>
              </div>

            </div>
          </li>

          <li class="items__el">
            <div class="item item_6">

              <div class="item__top"></div>
              <div class="item__bottom">
                <h3>Lorem ipsum dolor.</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, fugiat?</span>
              </div>

            </div>
          </li>

          <li class="items__el">
            <div class="item item_7">

              <div class="item__top"></div>
              <div class="item__bottom">
                <h3>Lorem ipsum dolor.</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, fugiat?</span>
              </div>

            </div>
          </li>

          <li class="items__el">
            <div class="item item_8">

              <div class="item__top"></div>
              <div class="item__bottom">
                <h3>Lorem ipsum dolor.</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, fugiat?</span>
              </div>

            </div>
          </li>

          <li class="items__el">
            <div class="item item_9">

              <div class="item__top"></div>
              <div class="item__bottom">
                <h3>Lorem ipsum dolor.</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, fugiat?</span>
              </div>

            </div>
          </li>

          <li class="items__el">
          <div class="item item_10">

            <div class="item__top"></div>
            <div class="item__bottom">
              <h3>Lorem ipsum dolor.</h3>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, fugiat?</span>
            </div>

          </div>
        </li>

          <li class="items__el">
            <div class="item item_11">

              <div class="item__top"></div>
              <div class="item__bottom">
                <h3>Lorem ipsum dolor.</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, fugiat?</span>
              </div>

            </div>
          </li>

          <li class="items__el">
            <div class="item item_12">

              <div class="item__top"></div>
              <div class="item__bottom">
                <h3>Lorem ipsum dolor.</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, fugiat?</span>
              </div>

            </div>
          </li>

          <li class="items__el">
            <div class="item item_13">

              <div class="item__top"></div>
              <div class="item__bottom">
                <h3>Lorem ipsum dolor.</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, fugiat?</span>
              </div>

            </div>
          </li>

          <li class="items__el">
            <div class="item item_14">

              <div class="item__top"></div>
              <div class="item__bottom">
                <h3>Lorem ipsum dolor.</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, fugiat?</span>
              </div>

            </div>
          </li>

          <li class="items__el">
            <div class="item item_15">

              <div class="item__top"></div>
              <div class="item__bottom">
                <h3>Lorem ipsum dolor.</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, fugiat?</span>
              </div>

            </div>
          </li>

          <li class="items__el">
            <div class="item item_16">

              <div class="item__top"></div>
              <div class="item__bottom">
                <h3>Lorem ipsum dolor.</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, fugiat?</span>
              </div>

            </div>
          </li>

        </ul>

      </div><!-- end items -->

    </div><!-- end section__bottom -->

  </div><!-- end container -->

</section><!-- end section-3 -->