<div class="section section-contacts" id="contacts">

  <div class="container">

    <div class="section__top">
      <h1 class="section__title">Контакты</h1>
    </div>
    <div class="section__bottom">

      <div class="contacts">

        <div class="contacts__wrap">

          <ul class="contacts__list">

            <li class="contacts__el">
              <span class="contacts__text">
                Украина, Киев
              </span>
            </li>

            <li class="contacts__el">
              <a href="tel:+380932302508" class="contacts__text">
                +38 (093) 230 25 08
              </a>
            </li>

            <li class="contacts__el">
              <a href="mailto:mail@honeycake.kiev.ua" class="contacts__text">
                mail@honeycake.kiev.ua
              </a>
            </li>

            <li class="contacts__el">
              <div class="follow">

                <ul class="follow__list">

                  <li class="follow__el">

                    <a href="https://www.facebook.com/HoneyCakeBakery/" target="_blank" class="follow__link">
                      <span class="follow__bg is-fb"></span>
                      <!--<img class="follow__img" src="img/facebook.png" alt="facebook"/>-->
                    </a>

                  </li>

                  <li class="follow__el">

                    <a href="https://vk.com/honeycakebakery" target="_blank" class="follow__link">
                      <span class="follow__bg is-vk"></span>
                      <!--<img class="follow__img" src="img/vk.svg" alt="vkontakte"/>-->
                    </a>

                  </li>

                  <li class="follow__el">

                    <a href="https://www.instagram.com/HoneyCake_Bakery/" target="_blank" class="follow__link">
                      <span class="follow__bg is-insta"></span>
                      <!--<img class="follow__img" src="img/instagram.png" alt="instagram"/>-->
                    </a>

                  </li>

                </ul>

              </div><!-- end follow -->
            </li>

          </ul>

        </div><!-- end contacts__wrap -->

      </div><!-- end contacts-->

    </div><!-- end section__bottom -->

  </div><!-- end container -->

</div><!-- end section-contacts -->