<div class="section section-5">

  <div class="container">

    <div class="section-5__top">
      <h1>Контакты</h1>
    </div>
    <div class="section-5__bottom">

      <div class="contacts">

        <div class="contacts__wrap">

          <h3 class="contacts__title">HoneyCakeBakery</h3>

          <ul class="contacts__list">

            <li class="contacts__el">
              <span class="contacts__text">
                <i class="ico ico_phone"></i>
                +38 (093) 230 25 08
              </span>
            </li>

            <li class="contacts__el">
              <span class="contacts__text">
                <i class="ico ico_mail"></i>
                HoneyCakeBakery2015@gmail.com
              </span>
            </li>

            <li class="contacts__el">
              <span class="contacts__text">
                <i class="ico ico_home"></i>
                Украина, Киев
              </span>
            </li>

          </ul>

        </div><!-- end contacts__wrap -->

      </div><!-- end contacts-->

    </div><!-- end section__bottom -->

  </div><!-- end container -->

</div><!-- end section -->