<div class="section section-who" id="who">

  <div class="container">

    <div class="section__top">
      <h1 class="section__title">Кто мы ?</h1>
    </div>
    <div class="section__bottom">

      <div class="who-we-are">
        <div class="who-we-are__left">
          <img src="../img/who-we-are.jpg" alt="ava"/>
        </div>
        <div class="who-we-are__right">

          <div class="who-we-are__descr">

            Я - <b>Евгения Яковенко</b>, основатель и шеф - кондитер семейной
            мастерской сладостей <b>Honey Cake Bakery</b>, основанной в 2015 году.
            Главная наша цель - дарить радость своими десертами.
            Для приготовления сладостей используются только натуральные и
            свежие продукты, так как нам важно делать не только красивый и
            вкусный продукт, но и качественный.
            Мы стараемся развиваться в кондитерском деле, идти в ногу со временем,
            делая стильные и оригинальные десерты.
            Каждый торт уникален и приготовлен с душой,
            и вы смело можете доверить нам свой праздник!

          </div>
          
        </div>
      </div>

    </div><!-- end section__bottom -->

  </div><!-- container -->

</div><!-- end section-who -->
