<div class="section section-5" id="follow">

  <div class="container">

    <div class="section__top">
      <h1 class="section__title">Мы в соц сетях</h1>
    </div>
    <div class="section__bottom">
      
      <div class="follow">
        
        <ul class="follow__list">
          
          <li class="follow__el">

            <a href="https://www.facebook.com/HoneyCakeBakery/" class="follow__link">
              <img class="follow__img" src="img/facebook.png" alt="facebook"/>
            </a>

          </li>

          <li class="follow__el">

            <a href="https://vk.com/honeycakebakery" class="follow__link">
              <img class="follow__img" src="img/vk.svg" alt="vkontakte"/>
            </a>

          </li>

          <li class="follow__el">

            <a href="https://www.instagram.com/HoneyCake_Bakery/" class="follow__link">
              <img class="follow__img" src="img/instagram.png" alt="instagram"/>
            </a>

          </li>

          <li class="follow__el">

            <a href="mailto:HoneyCakeBakery2015@gmail.com" class="follow__link">
              <img class="follow__img" src="img/mail.svg" alt="mail"/>
            </a>

          </li>
          
        </ul>
        
      </div><!-- end follow -->
      
    </div><!-- end section__bottom -->

  </div><!-- end container -->

</div><!-- end section-5 -->
