<section class="section section-3" id="sweets">

  <div class="container">

    <div class="section__top">
      <h1 class="section__title">Галерея</h1>
    </div>

    <div class="section__bottom">

      <div class="items">

        <ul class="items__list">

          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-1.jpg">
              <img class="items__img" src="img/cake-1sm.jpg" alt="Photo">
            </a>
          </li>
          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-20.jpg">
              <img class="items__img" src="img/cake-20sm.jpg" alt="Photo">
            </a>
          </li>
          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-21.jpg">
              <img class="items__img" src="img/cake-21sm.jpg" alt="Photo">
            </a>
          </li>
          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-22.jpg">
              <img class="items__img" src="img/cake-22sm.jpg" alt="Photo">
            </a>
          </li>
          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-2.jpg">
              <img class="items__img" src="img/cake-2sm.jpg" alt="Photo">
            </a>
          </li>
          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-3.jpg">
              <img class="items__img" src="img/cake-3sm.jpg" alt="Photo">
            </a>
          </li>
          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-4.JPG">
              <img class="items__img" src="img/cake-4sm.JPG" alt="Photo">
            </a>
          </li>
          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-5.jpg">
              <img class="items__img" src="img/cake-5sm.jpg" alt="Photo">
            </a>
          </li>
          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-6.jpg">
              <img class="items__img" src="img/cake-6sm.jpg" alt="Photo">
            </a>
          </li>
          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-7.jpg">
              <img class="items__img" src="img/cake-7sm.jpg" alt="Photo">
            </a>
          </li>
          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-8.jpg">
              <img class="items__img" src="img/cake-8sm.jpg" alt="Photo">
            </a>
          </li>
          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-9.jpg">
              <img class="items__img" src="img/cake-9sm.jpg" alt="Photo">
            </a>
          </li>

        </ul>

        <div id="more-works" style="display:none;">
          <ul class="items__list">
            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-10.jpg">
                <img class="items__img" src="img/cake-10sm.jpg" alt="Photo">
              </a>
            </li>
            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-11.jpg">
                <img class="items__img" src="img/cake-11sm.jpg" alt="Photo">
              </a>
            </li>
            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-12.jpg">
                <img class="items__img" src="img/cake-12sm.jpg" alt="Photo">
              </a>
            </li>
            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-13.jpg">
                <img class="items__img" src="img/cake-13sm.jpg" alt="Photo">
              </a>
            </li>
            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-14.jpg">
                <img class="items__img" src="img/cake-14sm.jpg" alt="Photo">
              </a>
            </li>
            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-15.jpg">
                <img class="items__img" src="img/cake-15sm.jpg" alt="Photo">
              </a>
            </li>
            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-16.jpg">
                <img class="items__img" src="img/cake-16sm.jpg" alt="Photo">
              </a>
            </li>
            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-17.jpg">
                <img class="items__img" src="img/cake-17sm.jpg" alt="Photo">
              </a>
            </li>
            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-18.jpg">
                <img class="items__img" src="img/cake-18sm.jpg" alt="Photo">
              </a>
            </li>
            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-19.jpg">
                <img class="items__img" src="img/cake-19sm.jpg" alt="Photo">
              </a>
            </li>
            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-23.jpg">
                <img class="items__img" src="img/cake-23sm.jpg" alt="Photo">
              </a>
            </li>
            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-24.jpg">
                <img class="items__img" src="img/cake-24sm.jpg" alt="Photo">
              </a>
            </li>

          </ul>
        </div>

        <div class="items__more">
          <span class="btn" id="show-more">Еще тортиков?</span>
        </div>
      </div><!-- end items -->

    </div><!-- end section__bottom -->

  </div><!-- end container -->

</section><!-- end section-3 -->