<div class="section section-packaging" id="box">

  <div class="container">

    <div class="section__top">
      <h1 class="section__title">
        Упаковка
        <p>В стоимость тортов и десертов входит брендированая упаковка</p>

      </h1>
    </div>

    <div class="section__bottom">

      <div class="boxs">
        <ul class="boxs__list">

          <li class="boxs__el">
            <img src="img/box-2.png" alt="box"/>
          </li>

          <li class="boxs__el">
            <img src="img/box-1.png" alt="box"/>
          </li>

          <li class="boxs__el">
            <img src="img/box-3.png" alt="box"/>
          </li>
          
        </ul>
      </div>


    </div><!-- end section__bottom -->

  </div><!-- end container -->

</div><!-- end section-packaging -->
