<div class="section section-1" id="who">

  <div class="container">

    <div class="section__top">
      <h1>Кто мы ?</h1>
    </div>
    <div class="section__bottom">

      <div class="text">

        Honey Cake Bakery  - домашняя семейная кондитерская основана в 2015 году.
        Основной нашей целью является сделать твою и жизнь твоих близких слаще.
        Мы испытываем истинное счастье видя в глазах клиентов радость и удовольствие подаренное нашими вкусными десертами.
        Для приготовления тортов и десертов мы используем только натуральные и свежие продукты, так как нам важно изготавливать не только красивый и вкусный продукт, но и качественный.
        На сегодняшний день у нас представлен определенный ассортимент, который постоянно расширяется.
        <br/>
        Если у тебя есть идеи как сделать твой торт вкусным и красивым - мы будем счастливы воплотить твои идеи в реальность!

      </div>

    </div><!-- end section__bottom -->

  </div><!-- container -->

</div><!-- end section-1 -->
