<section class="section section-gallery" id="sweets">

  <div class="container">

    <div class="section__top">
      <h1 class="section__title">Галерея</h1>
    </div>

    <div class="section__bottom">

      <div class="items">

        <ul class="items__list">

          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-20.jpg">
              <img class="items__img" src="img/cake-20sm.jpg" alt="Photo">
            </a>
          </li>
          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-44.jpg">
              <img class="items__img" src="img/cake-44sm.jpg" alt="Photo">
            </a>
          </li>
          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-28.jpg">
              <img class="items__img" src="img/cake-28sm.jpg" alt="Photo">
            </a>
          </li>
          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-33.jpg">
              <img class="items__img" src="img/cake-33s.jpg" alt="Photo">
            </a>
          </li>
          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-45.jpg">
              <img class="items__img" src="img/cake-45sm.jpg" alt="Photo">
            </a>
          </li>
          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-9.jpg">
              <img class="items__img" src="img/cake-9sm.jpg" alt="Photo">
            </a>
          </li>
          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-46.jpg">
              <img class="items__img" src="img/cake-46sm.jpg" alt="Photo">
            </a>
          </li>
          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-25.jpg">
              <img class="items__img" src="img/cake-25sm.jpg" alt="Photo">
            </a>
          </li>
          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-49.jpg">
              <img class="items__img" src="img/cake-49sm.jpg" alt="Photo">
            </a>
          </li>
          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-53.jpg">
              <img class="items__img" src="img/cake-53sm.jpg" alt="Photo">
            </a>
          </li>
          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-51.jpg">
              <img class="items__img" src="img/cake-51sm.jpg" alt="Photo">
            </a>
          </li>
          <li class="items__el">
            <a class="img-gallery" rel="gallery1" href="img/cake-52.jpg">
              <img class="items__img" src="img/cake-52sm.jpg" alt="Photo">
            </a>
          </li>

        </ul>

        <div id="more-works" style="display:none;">

          <ul class="items__list">

            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-41.jpg">
                <img class="items__img" src="img/cake-41sm.jpg" alt="Photo">
              </a>
            </li>
            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-32.jpg">
                <img class="items__img" src="img/cake-32sm.jpg" alt="Photo">
              </a>
            </li>
            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-4.JPG">
                <img class="items__img" src="img/cake-4sm.JPG" alt="Photo">
              </a>
            </li>
            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-54.jpg">
                <img class="items__img" src="img/cake-54sm.jpg" alt="Photo">
              </a>
            </li>

            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-12.jpg">
                <img class="items__img" src="img/cake-12sm.jpg" alt="Photo">
              </a>
            </li>
            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-13.jpg">
                <img class="items__img" src="img/cake-13sm.jpg" alt="Photo">
              </a>
            </li>
            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-14.jpg">
                <img class="items__img" src="img/cake-14sm.jpg" alt="Photo">
              </a>
            </li>

            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-1.jpg">
                <img class="items__img" src="img/cake-1sm.jpg" alt="Photo">
              </a>
            </li>

            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-47.jpg">
                <img class="items__img" src="img/cake-47sm.jpg" alt="Photo">
              </a>
            </li>

            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-15.jpg">
                <img class="items__img" src="img/cake-15sm.jpg" alt="Photo">
              </a>
            </li>
            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-48.jpg">
                <img class="items__img" src="img/cake-48sm.jpg" alt="Photo">
              </a>
            </li>
            <li class="items__el">
              <a class="img-gallery" rel="gallery1" href="img/cake-17.jpg">
                <img class="items__img" src="img/cake-17sm.jpg" alt="Photo">
              </a>
            </li>

          </ul>

          <div class="items__more">
            <span class="btn" id="show-more2">Еще тортиков?</span>
          </div>

          <div id="more-works2" style="display:none;">

            <ul class="items__list">
              <li class="items__el">
                <a class="img-gallery" rel="gallery1" href="img/cake-19.jpg">
                  <img class="items__img" src="img/cake-19sm.jpg" alt="Photo">
                </a>
              </li>
              <li class="items__el">
                <a class="img-gallery" rel="gallery1" href="img/cake-37.jpg">
                  <img class="items__img" src="img/cake-37sm.jpg" alt="Photo">
                </a>
              </li>
              <li class="items__el">
                <a class="img-gallery" rel="gallery1" href="img/cake-23.jpg">
                  <img class="items__img" src="img/cake-23sm.jpg" alt="Photo">
                </a>
              </li>
              <li class="items__el">
                <a class="img-gallery" rel="gallery1" href="img/cake-21.jpg">
                  <img class="items__img" src="img/cake-21sm.jpg" alt="Photo">
                </a>
              </li>
              <li class="items__el">
                <a class="img-gallery" rel="gallery1" href="img/cake-50.jpg">
                  <img class="items__img" src="img/cake-50sm.jpg" alt="Photo">
                </a>
              </li>
              <li class="items__el">
                <a class="img-gallery" rel="gallery1" href="img/cake-11.jpg">
                  <img class="items__img" src="img/cake-11sm.jpg" alt="Photo">
                </a>
              </li>
              <li class="items__el">
                <a class="img-gallery" rel="gallery1" href="img/cake-60.jpg">
                  <img class="items__img" src="img/cake-60sm.jpg" alt="Photo">
                </a>
              </li>
              <li class="items__el">
                <a class="img-gallery" rel="gallery1" href="img/cake-29.jpg">
                  <img class="items__img" src="img/cake-29sm.jpg" alt="Photo">
                </a>
              </li>

              <li class="items__el">
                <a class="img-gallery" rel="gallery1" href="img/cake-55.jpg">
                  <img class="items__img" src="img/cake-55sm.jpg" alt="Photo">
                </a>
              </li>

              <li class="items__el">
                <a class="img-gallery" rel="gallery1" href="img/cake-56.jpg">
                  <img class="items__img" src="img/cake-56sm.jpg" alt="Photo">
                </a>
              </li>
              <li class="items__el">
                <a class="img-gallery" rel="gallery1" href="img/cake-5.jpg">
                  <img class="items__img" src="img/cake-5sm.jpg" alt="Photo">
                </a>
              </li>
              <li class="items__el">
                <a class="img-gallery" rel="gallery1" href="img/cake-35.jpg">
                  <img class="items__img" src="img/cake-35s.jpg" alt="Photo">
                </a>
              </li>
            </ul>

            <div class="items__more">
              <span class="btn" id="show-more3">Еще тортиков?</span>
            </div>

            <div id="more-works3" style="display:none;">

              <ul class="items__list">
                <li class="items__el">
                  <a class="img-gallery" rel="gallery1" href="img/cake-8.jpg">
                    <img class="items__img" src="img/cake-8sm.jpg" alt="Photo">
                  </a>
                </li>
                <li class="items__el">
                  <a class="img-gallery" rel="gallery1" href="img/cake-38.jpg">
                    <img class="items__img" src="img/cake-38sm.jpg" alt="Photo">
                  </a>
                </li>
                <li class="items__el">
                  <a class="img-gallery" rel="gallery1" href="img/cake-40.jpg">
                    <img class="items__img" src="img/cake-40sm.jpg" alt="Photo">
                  </a>
                </li>
                <li class="items__el">
                  <a class="img-gallery" rel="gallery1" href="img/cake-3.jpg">
                    <img class="items__img" src="img/cake-3sm.jpg" alt="Photo">
                  </a>
                </li>

                <li class="items__el">
                  <a class="img-gallery" rel="gallery1" href="img/cake-43.jpg">
                    <img class="items__img" src="img/cake-43sm.jpg" alt="Photo">
                  </a>
                </li>
                <li class="items__el">
                  <a class="img-gallery" rel="gallery1" href="img/cake-2.jpg">
                    <img class="items__img" src="img/cake-2sm.jpg" alt="Photo">
                  </a>
                </li>
                <li class="items__el">
                  <a class="img-gallery" rel="gallery1" href="img/cake-57.jpg">
                    <img class="items__img" src="img/cake-57sm.jpg" alt="Photo">
                  </a>
                </li>
                <li class="items__el">
                  <a class="img-gallery" rel="gallery1" href="img/cake-6.jpg">
                    <img class="items__img" src="img/cake-6sm.jpg" alt="Photo">
                  </a>
                </li>

                <li class="items__el">
                  <a class="img-gallery" rel="gallery1" href="img/cake-58.jpg">
                    <img class="items__img" src="img/cake-58sm.jpg" alt="Photo">
                  </a>
                </li>

                <li class="items__el">
                  <a class="img-gallery" rel="gallery1" href="img/cake-59.jpg">
                    <img class="items__img" src="img/cake-59sm.jpg" alt="Photo">
                  </a>
                </li>

                <li class="items__el">
                  <a class="img-gallery" rel="gallery1" href="img/cake-22.jpg">
                    <img class="items__img" src="img/cake-22sm.jpg" alt="Photo">
                  </a>
                </li>

                <li class="items__el">
                  <a class="img-gallery" rel="gallery1" href="img/cake-7.jpg">
                    <img class="items__img" src="img/cake-7sm.jpg" alt="Photo">
                  </a>
                </li>
              </ul>

            </div>

          </div>

        </div><!-- end more-works -->

        <div class="items__more">
          <span class="btn" id="show-more">Еще тортиков?</span>
        </div>

      </div><!-- end items -->

    </div><!-- end section__bottom -->

  </div><!-- end container -->

</section><!-- end section-gallery -->