<div class="section section-4" id="price">

  <div class="container">

    <div class="section__top">
      <h1>Наши цены</h1>
    </div>

    <div class="section__bottom">

      <div class="items">

        <ul class="items__list">

          <li class="items__el">

            <div class="price">

              <div class="price__top">
                <img class="price__img" src="img/cake-ico-1.png" alt="cake"/>
              </div>

              <div class="price__center">
                <h3>Т О Р Т Ы от 250грн/кг</h3>
              </div>

              <div class="price__bottom">

                <div class="item">

                  <ul class="item__list">

                    <li class="item__el">
                      <span>Минимальный заказ 1,5кг</span>
                    </li>

                    <li class="item__el">
                      <span>Исполним любой каприз</span>
                    </li>

                    <li class="item__el">
                      <span>С мастикой не работаем</span>
                    </li>

                  </ul>

                </div><!-- end item -->

              </div><!-- end price__bottom -->

            </div><!-- end price -->

          </li>

          <li class="items__el">

            <div class="price">

              <div class="price__top">
                <img class="price__img" src="img/cake-ico-2.png" alt="cake"/>
              </div>

              <div class="price__center">
                <h3>З Е Ф И Р от 10грн/шт</h3>
              </div>

              <div class="price__bottom">

                <div class="item">

                  <ul class="item__list">

                    <li class="item__el">
                      <span>Минимальный заказ 10шт</span>
                    </li>

                    <li class="item__el">
                      <span>Из натуралых фруктов и ягод</span>
                    </li>

                    <li class="item__el">
                      <span>Без консервантов и усилителей вкуса</span>
                    </li>

                  </ul>

                </div><!-- end item -->

              </div><!-- end price__bottom -->

            </div><!-- end price -->

          </li>

          <li class="items__el">

            <div class="price">

              <div class="price__top">
                <img class="price__img" src="img/cake-ico-3.png" alt="cake"/>
              </div>

              <div class="price__center">
                <h3>П Р Я Н И К И от 20грн/шт</h3>
              </div>

              <div class="price__bottom">

                <div class="item">

                  <ul class="item__list">

                    <li class="item__el">
                      <span>Минимальный заказ от 1,5кг</span>
                    </li>

                    <li class="item__el">
                      <span>Рисунки, надписи и фигурки - все реально воплотить в виде печенья</span>
                    </li>

                  </ul>

                </div><!-- end item -->

              </div><!-- end price__bottom -->

            </div><!-- end price -->

          </li>

          <li class="items__el">

            <div class="price">

              <div class="price__top">
                <img class="price__img" src="img/cake-ico-4.png" alt="cake"/>
              </div>

              <div class="price__center">
                <h3>Д Е С Е Р Т Ы от 20грн/шт</h3>
              </div>

              <div class="price__bottom">

                <div class="item">

                  <ul class="item__list">

                    <li class="item__el">
                      <span>Прекрасное дополнение к сладкому столу</span>
                    </li>

                    <li class="item__el">
                      <span>Капкейки - от 20грн/шт</span>
                    </li>

                    <li class="item__el">
                      <span>Десерт Павлова - 25грн/шт</span>
                    </li>

                  </ul>

                </div><!-- end item -->

              </div><!-- end price__bottom -->

            </div><!-- end price -->

          </li>

        </ul>

      </div><!-- end items -->

    </div><!-- end section__bottom -->

  </div><!-- end container -->

</div><!-- end section-4 -->