<div class="section section-services" id="services">

  <div class="container">

    <div class="section__top">
      <h1 class="section__title">Важно знать</h1>
    </div>

    <div class="section__bottom">

      <div class="services">

        <ul class="services__list">

          <li class="services__el">

            <div class="item">

              <div class="item__left">
                <img class="item__img" src="img/service1.png" alt="cake"/>
              </div>

              <div class="item__right">
                <h3 class="item__title">
                  Дизайн сладостей
                </h3>
                <p class="item__descr">
                  Мы за креативный подход к своему делу, все идеи и пожелания
                  по дизайну сладостей мы готовы воплотить в реальность.
                  Закажи минимум за 3 дня, при заказе от 700 грн - сладкий комплимент
                </p>
              </div>

            </div><!-- end item -->

          </li>

          <li class="services__el">

            <div class="item">

              <div class="item__left">
                <img class="item__img" src="img/service2.png" alt="cake"/>
              </div>

              <div class="item__right">
                <h3 class="item__title">
                  Десерты
                </h3>
                <p class="item__descr">
                  Кроме тортов предлагаем порционные десерты, которые станут
                  прекрасным дополнением к празднику
                </p>
              </div>

            </div><!-- end item -->

          </li>

          <li class="services__el">

            <div class="item">

              <div class="item__left">
                <img class="item__img" src="img/service3.png" alt="cake"/>
              </div>

              <div class="item__right">
                <h3 class="item__title">
                  Упаковка, Доставка
                </h3>
                <p class="item__descr">
                  В стоимость тортов и десертов входит стандартная упаковка.
                  Возможен самовывоз и доставка
                </p>
              </div>

            </div><!-- end item -->

          </li>

        </ul>

      </div><!-- end services -->

    </div><!-- end services__bottom -->

  </div><!-- end container -->

</div><!-- end section-services -->