<div class="section section-services" id="services">

  <div class="container">

    <div class="section__top">
      <h1 class="section__title">Важно знать</h1>
    </div>

    <div class="section__bottom">

      <div class="services">

        <ul class="services__list">

          <li class="services__el">

            <div class="item">

              <div class="item__left">
                <img class="item__img" src="img/service1.png" alt="cake"/>
              </div>

              <div class="item__right">
                <h3 class="item__title">
                  Дизайн сладостей
                </h3>
                <p class="item__descr">
                  Мы за креативный подход к своему делу, все идеи и
                  пожелания по дизайну сладостей готовы воплотить в реальность.
                  Закажите минимум за 3 дня, при заказе на суму от 700 грн -
                  сладкий комплимент
                </p>
              </div>

            </div><!-- end item -->

          </li>

          <li class="services__el">

            <div class="item">

              <div class="item__left">
                <img class="item__img" src="img/service2.png" alt="cake"/>
              </div>

              <div class="item__right">
                <h3 class="item__title">
                  Кэнди бар
                </h3>
                <p class="item__descr">
                  Красиво и стильно оформим кэнди бар вашего праздника зефиром,
                  пирожными, пряниками, капкейками, меренгами и другими вкусностями
                </p>
              </div>

            </div><!-- end item -->

          </li>

          <li class="services__el">

            <div class="item">

              <div class="item__left">
                <img class="item__img" src="img/service3.png" alt="cake"/>
              </div>

              <div class="item__right">
                <h3 class="item__title">
                  Доставка
                </h3>
                <p class="item__descr">
                  Возможен самовывоз (Деснянский район) и курьерская доставка десертов
                </p>
              </div>

            </div><!-- end item -->

          </li>

        </ul>

      </div><!-- end services -->

    </div><!-- end services__bottom -->

  </div><!-- end container -->

</div><!-- end section-services -->