<section class="section section-slider">

  <div class="slider">

    <div class="slider__img is-main"></div>

    <div class="slider__pagination is-one"></div>
    <div class="slider__img is-first"></div>
    <!--<div class="slider__text is-first">Мы</div>-->

    <div class="slider__pagination is-two"></div>
    <div class="slider__img is-second"></div>
    <!--<div class="slider__text is-second">создаем</div>-->

    <div class="slider__pagination is-three"></div>
    <div class="slider__img is-third"></div>
    <!--<div class="slider__text is-third">безупречные</div>-->

    <div class="slider__pagination is-four"></div>
    <div class="slider__img is-fourth"></div>
    <!--<div class="slider__text is-fourth">сладости</div>-->

  </div>

  <div class="mobile-pic">
    <img src="img/logo-honey-cake.png" alt="logo"/>
  </div>
</section>
<!-- end section-slider -->
