<div class="section section-2">

  <div class="container">

    <div class="section-2__top">
      <h1>Услуги</h1>
    </div>

    <div class="section-2__bottom">

      <div class="services">

        <ul class="services__list">

          <li class="services__el">

            <div class="item">

              <div class="item__left">
                <img class="item__img" src="img/service1.png" alt="cake"/>
              </div>

              <div class="item__right">
                <h3 class="item__title">
                  Дизайн сладостей
                </h3>
                <p class="item__descr">Lorem ipsum dolor sit amet, consectetur
                  adipisicing elit. Laboriosam, nulla.
                </p>
              </div>

            </div><!-- end item -->

          </li>

          <li class="services__el">

            <div class="item">

              <div class="item__left">
                <img class="item__img" src="img/service2.png" alt="cake"/>
              </div>

              <div class="item__right">
                <h3 class="item__title">
                  Лучшие кексы в мире!
                </h3>
                <p class="item__descr">Lorem ipsum dolor sit amet, consectetur
                  adipisicing elit. Laboriosam, nulla.
                </p>
              </div>

            </div><!-- end item -->

          </li>

          <li class="services__el">

            <div class="item">

              <div class="item__left">
                <img class="item__img" src="img/service3.png" alt="cake"/>
              </div>

              <div class="item__right">
                <h3 class="item__title">
                  blabla
                </h3>
                <p class="item__descr">Lorem ipsum dolor sit amet, consectetur
                  adipisicing elit. Laboriosam, nulla.
                </p>
              </div>

            </div><!-- end item -->

          </li>

        </ul>

      </div><!-- end services -->

    </div><!-- end services__bottom -->

  </div><!-- end container -->

</div><!-- end section -->