
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="slide__img slide__img_1"></div>
      <!--<img src="../img/main-cake3.jpg" alt=""/>-->
    </div>
    <div class="swiper-slide slide__img_2">
      <!--<img src="../img/who-we-are.jpg" alt=""/>-->
    </div>
    <div class="swiper-slide slide__img_3">
      <!--<img src="../img/cake-4.JPG" alt=""/>-->
    </div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
