<div class="swiper">
  <div class="swiper-container">

    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="slide slide_1">
          <img class="swiper__img" src="img/cake1.jpg" alt="cake"/>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="slide slide_2">
          <img class="swiper__img" src="img/cake2.jpg" alt="cake"/>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="slide slide_3">
          <img class="swiper__img" src="img/cake3.jpg" alt="cake"/>
        </div>
      </div>

    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

    <!--<div class="swiper-pagination"></div>-->
  </div>
  <div class="bottomwaves"></div>
</div>


