<div class="swiper">
  <div class="swiper-container">

    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <img class="swiper__img" src="img/IMG_0611.jpg" alt="cake"/>
      </div>

      <div class="swiper-slide">
        <img class="swiper__img" src="img/IMG_0613.jpg" alt="cake"/>
      </div>

      <div class="swiper-slide">
        <img class="swiper__img" src="img/IMG_0614.jpg" alt="cake"/>
      </div>

    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

    <!--<div class="swiper-pagination"></div>-->

  </div>
</div>


